<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 확인</title>
</head>
<body>
    <form action="/member/checkedPassword" method="post" th:object="${memberDTO}">
        <table>
            <tbody>
                <tr>
                    <th scope="row">아이디</th>
                    <td th:text="${member.email}"></td>
                </tr>
                <tr>
                    <th scope="row">비밀번호</th>
                    <td><input type="password" name="password" placeholder="비밀번호 입력하세요"></td>
                </tr>
            </tbody>
        </table>
        <div>
            <a th:href="@{'/member/checkedPassword?email=' + ${session.loggedInUser.email}&pw=' + ${session.loggedInUser.pw}}">
                <button type="submit" id="checkedPassword">비밀번호 확인</button>
            </a>
        </div>
    </form>
</body>
</html>