<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 변경</title>
</head>
<body>
    <form action="/member/modifyPassword" method="post" th:object="${memberDTO}">
        <table>
            <tbody>
                <tr>
                    <th scope="row">현재 비밀번호</th>
                    <td><input type="password" name="currentPassword" placeholder="현재 비밀번호 입력하세요"></td>
                </tr>
                <tr>
                    <th scope="row">변경할 비밀번호</th>
                    <td><input type="password" name="newPassword" placeholder="변경할 비밀번호 입력하세요"></td>
                </tr>
                <tr>
                    <th scope="row">변경 비밀번호 확인</th>
                    <td><input type="password" name="confirmPassword" placeholder="변경할 비밀번호 재입력하세요"></td>
                </tr>
            </tbody>
        </table>
        <div>
            <button type="submit" id="changePassword">비밀번호 변경</button>
            <button type="button" id="cancel">취소</button>
        </div>
    </form>
    

    <script>
        document.getElementById('cancel').addEventListener('click', function (event) {
            alert("마이페이지로 돌아갑니다.");
            window.location.href = "/member/myPage";
        });
    </script>
</body>
</html>
